<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.wasner.cordova.camerawebview"
    version="0.0.1-dev">
    <name>Camera Webview</name>
    <description>Cordova Camera Plugin</description>
    <keywords>cordova,camera,webview</keywords>
    <repo>https://github.com/alexwasner/Cordova-Camera-Webview.git</repo>
    <issue>https://github.com/alexwasner/Cordova-Camera-Webview/issues</issue>

    <js-module src="www/Camera.js" name="cameraWebview">
        <clobbers target="navigator.cameraWebview" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CameraWebview">
                <param name="android-package" value="com.wasner.cordova.camerawebview.CameraWebview"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            
            <uses-feature android:name="android.hardware.camera" android:required="false" />
            <uses-feature android:name="android.hardware.camera.front" android:required="false" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
        </config-file>

        <source-file src="src/android/CameraHelper.java" target-dir="src/com/wasner/cordova/camerawebview" />
        <source-file src="src/android/CameraView.java" target-dir="src/com/wasner/cordova/camerawebview" />
        <source-file src="src/android/CameraWebview.java" target-dir="src/com/wasner/cordova/camerawebview" />
        <source-file src="src/android/Preview.java" target-dir="src/com/wasner/cordova/camerawebview" />
        <source-file src="src/android/PreviewView.java" target-dir="src/com/wasner/cordova/camerawebview" />

     </platform>

     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="CameraWebview">
                 <param name="ios-package" value="CameraWebview" />
             </feature>
             <preference name="CameraUsesGeolocation" value="false" />
         </config-file>

         <header-file src="src/ios/CameraWebview.h" />
         <source-file src="src/ios/CameraWebview.m" />
         <header-file src="src/ios/CameraWebViewController.h" />
         <source-file src="src/ios/CameraWebViewController.m" />
         <framework src="ImageIO.framework" weak="true" />
         <framework src="CoreLocation.framework" />
         <framework src="CoreGraphics.framework" />
         <framework src="AssetsLibrary.framework" />
         <framework src="MobileCoreServices.framework" /> 
        <framework src="MediaPlayer.framework" weak="true" />
        <framework src="CoreGraphics.framework" />
         
         <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
             <string></string>
         </config-file>
                  
     </platform>
</plugin>
